<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
	<!-- begin::Head -->
	<head>
	<title>内容布局</title>
	</head>
	<!-- end::Head -->
    <!-- end::Body -->
	<body>
		<div class="m-grid__item m-grid__item--fluid m-wrapper">
					<!-- BEGIN: Subheader -->
					<div th:replace="admin/layout/header-sub :: header-sub"></div>
					<!-- <div class="m-subheader" layout:fragment="header-sub"></div> -->
					<!-- END: Subheader -->
					<div class="m-content" layout:fragment="content"></div>
	</div>
	</body>
	<!-- end::Body -->
</html>
