<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="admin/layout/layout-content">
<head>
<!-- <script
	th:src="@{/css/demo/default/custom/components/datatables/base/data-ajax.js}"
	type="text/javascript"></script> -->
<title>hello</title>
<script>
	console.log("hello state color");
</script>
</head>
<body>
	<!-- 主区域 [[ -->
	<div class="m-content">
		<div layout:fragment="content">

			<div class="m-portlet m-portlet--mobile">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<h3 class="m-portlet__head-text">
								Local Datatable <small> initialized from javascript
									array </small>
							</h3>
						</div>
					</div>
					<div class="m-portlet__head-tools">
						<ul class="m-portlet__nav">
							<li class="m-portlet__nav-item">
								<div
									class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push"
									data-dropdown-toggle="hover" aria-expanded="true">
									<a href="#"
										class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
										<i class="la la-ellipsis-h m--font-brand"></i>
									</a>
									<div class="m-dropdown__wrapper">
										<span
											class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
										<div class="m-dropdown__inner">
											<div class="m-dropdown__body">
												<div class="m-dropdown__content">
													<ul class="m-nav">
														<li class="m-nav__section m-nav__section--first"><span
															class="m-nav__section-text"> Quick Actions </span></li>
														<li class="m-nav__item"><a href=""
															class="m-nav__link"> <i
																class="m-nav__link-icon flaticon-share"></i> <span
																class="m-nav__link-text"> Create Post </span>
														</a></li>
														<li class="m-nav__item"><a href=""
															class="m-nav__link"> <i
																class="m-nav__link-icon flaticon-chat-1"></i> <span
																class="m-nav__link-text"> Send Messages </span>
														</a></li>
														<li class="m-nav__item"><a href=""
															class="m-nav__link"> <i
																class="m-nav__link-icon flaticon-multimedia-2"></i> <span
																class="m-nav__link-text"> Upload File </span>
														</a></li>
														<li class="m-nav__section"><span
															class="m-nav__section-text"> Useful Links </span></li>
														<li class="m-nav__item"><a href=""
															class="m-nav__link"> <i
																class="m-nav__link-icon flaticon-info"></i> <span
																class="m-nav__link-text"> FAQ </span>
														</a></li>
														<li class="m-nav__item"><a href=""
															class="m-nav__link"> <i
																class="m-nav__link-icon flaticon-lifebuoy"></i> <span
																class="m-nav__link-text"> Support </span>
														</a></li>
														<li class="m-nav__separator m-nav__separator--fit m--hide"></li>
														<li class="m-nav__item m--hide"><a href="#"
															class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
																Submit </a></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="m-portlet__body">
					<!--begin: Search Form -->
					<div
						class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
						<div class="row align-items-center">
							<div class="col-xl-8 order-2 order-xl-1">
								<div class="form-group m-form__group row align-items-center">
									<div class="col-md-4">
										<div class="m-form__group m-form__group--inline">
											<div class="m-form__label">
												<label> Status: </label>
											</div>
											<div class="m-form__control">
												<div
													class="btn-group bootstrap-select form-control m-bootstrap-select m-bootstrap-select--solid">
													<button type="button"
														class="btn dropdown-toggle bs-placeholder btn-default"
														data-toggle="dropdown" role="button"
														data-id="m_form_status" title="All">
														<span class="filter-option pull-left"> All </span>&nbsp;<span
															class="bs-caret"><span class="caret"></span></span>
													</button>
													<div class="dropdown-menu open" role="combobox">
														<ul class="dropdown-menu inner" role="listbox"
															aria-expanded="false">
															<li data-original-index="0" class="selected"><a
																tabindex="0" class="" data-tokens="null" role="option"
																aria-disabled="false" aria-selected="true"><span
																	class="text"> All </span><span
																	class="glyphicon glyphicon-ok check-mark"></span></a></li>
															<li data-original-index="1"><a tabindex="0" class=""
																data-tokens="null" role="option" aria-disabled="false"
																aria-selected="false"><span class="text">
																		Pending </span><span
																	class="glyphicon glyphicon-ok check-mark"></span></a></li>
															<li data-original-index="2"><a tabindex="0" class=""
																data-tokens="null" role="option" aria-disabled="false"
																aria-selected="false"><span class="text">
																		Delivered </span><span
																	class="glyphicon glyphicon-ok check-mark"></span></a></li>
															<li data-original-index="3"><a tabindex="0" class=""
																data-tokens="null" role="option" aria-disabled="false"
																aria-selected="false"><span class="text">
																		Canceled </span><span
																	class="glyphicon glyphicon-ok check-mark"></span></a></li>
														</ul>
													</div>
													<select
														class="form-control m-bootstrap-select m-bootstrap-select--solid"
														id="m_form_status" tabindex="-98">
														<option value="">All</option>
														<option value="1">Pending</option>
														<option value="2">Delivered</option>
														<option value="3">Canceled</option>
													</select>
												</div>
											</div>
										</div>
										<div class="d-md-none m--margin-bottom-10"></div>
									</div>
									<div class="col-md-4">
										<div class="m-form__group m-form__group--inline">
											<div class="m-form__label">
												<label class="m-label m-label--single"> Type: </label>
											</div>
											<div class="m-form__control">
												<div
													class="btn-group bootstrap-select form-control m-bootstrap-select m-bootstrap-select--solid">
													<button type="button"
														class="btn dropdown-toggle bs-placeholder btn-default"
														data-toggle="dropdown" role="button" data-id="m_form_type"
														title="All">
														<span class="filter-option pull-left"> All </span>&nbsp;<span
															class="bs-caret"><span class="caret"></span></span>
													</button>
													<div class="dropdown-menu open" role="combobox">
														<ul class="dropdown-menu inner" role="listbox"
															aria-expanded="false">
															<li data-original-index="0" class="selected"><a
																tabindex="0" class="" data-tokens="null" role="option"
																aria-disabled="false" aria-selected="true"><span
																	class="text"> All </span><span
																	class="glyphicon glyphicon-ok check-mark"></span></a></li>
															<li data-original-index="1"><a tabindex="0" class=""
																data-tokens="null" role="option" aria-disabled="false"
																aria-selected="false"><span class="text">
																		Online </span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
															<li data-original-index="2"><a tabindex="0" class=""
																data-tokens="null" role="option" aria-disabled="false"
																aria-selected="false"><span class="text">
																		Retail </span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
															<li data-original-index="3"><a tabindex="0" class=""
																data-tokens="null" role="option" aria-disabled="false"
																aria-selected="false"><span class="text">
																		Direct </span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
														</ul>
													</div>
													<select
														class="form-control m-bootstrap-select m-bootstrap-select--solid"
														id="m_form_type" tabindex="-98">
														<option value="">All</option>
														<option value="1">Online</option>
														<option value="2">Retail</option>
														<option value="3">Direct</option>
													</select>
												</div>
											</div>
										</div>
										<div class="d-md-none m--margin-bottom-10"></div>
									</div>
									<div class="col-md-4">
										<div class="m-input-icon m-input-icon--left">
											<input type="text"
												class="form-control m-input m-input--solid"
												placeholder="Search..." id="generalSearch"/> <span
												class="m-input-icon__icon m-input-icon__icon--left">
												<span> <i class="la la-search"></i>
											</span>
											</span>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-4 order-1 order-xl-2 m--align-right">
								<a href="#"
									class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill">
									<span> <i class="la la-cart-plus"></i> <span> New
											Order </span>
								</span>
								</a>
								<div class="m-separator m-separator--dashed d-xl-none"></div>
							</div>
						</div>
					</div>
					<!--end: Search Form -->
					<!--begin: Datatable -->
					<div
						class="m_datatable m-datatable m-datatable--default m-datatable--loaded"
						id="local_data" style="position: static; zoom: 1;">
						<table class="m-datatable__table table-hover" id="m-datatable--643118443208"
							style="display: block; height: auto; overflow-x: auto;">
							<thead class="m-datatable__head">
								<tr class="m-datatable__row" style="height: 53px;">
									<th data-field="RecordID"
										class="m-datatable__cell--center m-datatable__cell m-datatable__cell--sort"><span
										style="width: 50px;">#</span></th>
									<th data-field="OrderID"
										class="m-datatable__cell m-datatable__cell--sort"><span
										style="width: 110px;">Order ID</span></th>
									<th data-field="ShipName"
										class="m-datatable__cell m-datatable__cell--sort"><span
										style="width: 110px;">Ship Name</span></th>
									<th data-field="Currency"
										class="m-datatable__cell m-datatable__cell--sort"><span
										style="width: 100px;">Currency</span></th>
									<th data-field="ShipAddress"
										class="m-datatable__cell m-datatable__cell--sort"
										data-sort="asc"><span style="width: 110px;">Ship
											Address<i class="la la-arrow-up"></i>
									</span></th>
									<th data-field="ShipDate"
										class="m-datatable__cell m-datatable__cell--sort"><span
										style="width: 110px;">Ship Date</span></th>
									<th data-field="Latitude"
										class="m-datatable__cell m-datatable__cell--sort"><span
										style="width: 110px;">Latitude</span></th>
									<th data-field="Status"
										class="m-datatable__cell m-datatable__cell--sort"><span
										style="width: 110px;">Status</span></th>
									<th data-field="Type"
										class="m-datatable__cell m-datatable__cell--sort"><span
										style="width: 110px;">Type</span></th>
									<th data-field="Actions"
										class="m-datatable__cell m-datatable__cell--sort"><span
										style="width: 110px;">Actions</span></th>
								</tr>
							</thead>
							<tbody class="m-datatable__body" style="">
								<tr data-row="0" class="m-datatable__row m-datatable__row--even"
									style="height: 88px;">
									<td data-field="RecordID"
										class="m-datatable__cell--center m-datatable__cell"><span
										style="width: 50px;">39</span></td>
									<td data-field="OrderID" class="m-datatable__cell"><span
										style="width: 110px;">63941-449</span></td>
									<td data-field="ShipName" class="m-datatable__cell"><span
										style="width: 110px;">Langworth Inc</span></td>
									<td data-field="Currency" class="m-datatable__cell"><span
										style="width: 100px;">RSD</span></td>
									<td data-field="ShipAddress"
										class="m-datatable__cell--sorted m-datatable__cell"><span
										style="width: 110px;">0 Bashford Point</span></td>
									<td data-field="ShipDate" class="m-datatable__cell"><span
										style="width: 110px;">8/13/2016</span></td>
									<td data-field="Latitude" class="m-datatable__cell"><span
										style="width: 110px;">45.60699</span></td>
									<td data-field="Status" class="m-datatable__cell"><span
										style="width: 110px;"><span
											class="m-badge  m-badge--success m-badge--wide">Success</span></span></td>
									<td data-field="Type" class="m-datatable__cell"><span
										style="width: 110px;"><span
											class="m-badge m-badge--accent m-badge--dot"></span>&nbsp;<span
											class="m--font-bold m--font-accent">Direct</span></span></td>
									<td data-field="Actions" class="m-datatable__cell"><span
										style="overflow: visible; width: 110px;">
											<div class="dropdown ">
												<a href="#"
													class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
													data-toggle="dropdown"> <i class="la la-ellipsis-h"></i>
												</a>
												<div class="dropdown-menu dropdown-menu-right">
													<a class="dropdown-item" href="#"><i class="la la-edit"></i>
														Edit Details</a> <a class="dropdown-item" href="#"><i
														class="la la-leaf"></i> Update Status</a> <a
														class="dropdown-item" href="#"><i class="la la-print"></i>
														Generate Report</a>
												</div>
											</div> <a href="#"
											class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
											title="View "> <i class="la la-edit"></i>
										</a>
									</span></td>
								</tr>
								<tr data-row="1" class="m-datatable__row" style="height: 88px;">
									<td data-field="RecordID"
										class="m-datatable__cell--center m-datatable__cell"><span
										style="width: 50px;">38</span></td>
									<td data-field="OrderID" class="m-datatable__cell"><span
										style="width: 110px;">61543-7772</span></td>
									<td data-field="ShipName" class="m-datatable__cell"><span
										style="width: 110px;">Considine-Russel</span></td>
									<td data-field="Currency" class="m-datatable__cell"><span
										style="width: 100px;">CNY</span></td>
									<td data-field="ShipAddress"
										class="m-datatable__cell--sorted m-datatable__cell"><span
										style="width: 110px;">0 Duke Court</span></td>
									<td data-field="ShipDate" class="m-datatable__cell"><span
										style="width: 110px;">11/23/2016</span></td>
									<td data-field="Latitude" class="m-datatable__cell"><span
										style="width: 110px;">28.37799</span></td>
									<td data-field="Status" class="m-datatable__cell"><span
										style="width: 110px;"><span
											class="m-badge  m-badge--metal m-badge--wide">Delivered</span></span></td>
									<td data-field="Type" class="m-datatable__cell"><span
										style="width: 110px;"><span
											class="m-badge m-badge--primary m-badge--dot"></span>&nbsp;<span
											class="m--font-bold m--font-primary">Retail</span></span></td>
									<td data-field="Actions" class="m-datatable__cell"><span
										style="overflow: visible; width: 110px;">
											<div class="dropdown ">
												<a href="#"
													class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
													data-toggle="dropdown"> <i class="la la-ellipsis-h"></i>
												</a>
												<div class="dropdown-menu dropdown-menu-right">
													<a class="dropdown-item" href="#"><i class="la la-edit"></i>
														Edit Details</a> <a class="dropdown-item" href="#"><i
														class="la la-leaf"></i> Update Status</a> <a
														class="dropdown-item" href="#"><i class="la la-print"></i>
														Generate Report</a>
												</div>
											</div> <a href="#"
											class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
											title="View "> <i class="la la-edit"></i>
										</a>
									</span></td>
								</tr>
								<tr data-row="2" class="m-datatable__row m-datatable__row--even"
									style="height: 88px;">
									<td data-field="RecordID"
										class="m-datatable__cell--center m-datatable__cell"><span
										style="width: 50px;">15</span></td>
									<td data-field="OrderID" class="m-datatable__cell"><span
										style="width: 110px;">63824-302</span></td>
									<td data-field="ShipName" class="m-datatable__cell"><span
										style="width: 110px;">Klein-Tillman</span></td>
									<td data-field="Currency" class="m-datatable__cell"><span
										style="width: 100px;">EUR</span></td>
									<td data-field="ShipAddress"
										class="m-datatable__cell--sorted m-datatable__cell"><span
										style="width: 110px;">0 Londonderry Crossing</span></td>
									<td data-field="ShipDate" class="m-datatable__cell"><span
										style="width: 110px;">2/13/2016</span></td>
									<td data-field="Latitude" class="m-datatable__cell"><span
										style="width: 110px;">39.14657</span></td>
									<td data-field="Status" class="m-datatable__cell"><span
										style="width: 110px;"><span
											class="m-badge  m-badge--info m-badge--wide">Info</span></span></td>
									<td data-field="Type" class="m-datatable__cell"><span
										style="width: 110px;"><span
											class="m-badge m-badge--primary m-badge--dot"></span>&nbsp;<span
											class="m--font-bold m--font-primary">Retail</span></span></td>
									<td data-field="Actions" class="m-datatable__cell"><span
										style="overflow: visible; width: 110px;">
											<div class="dropdown ">
												<a href="#"
													class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
													data-toggle="dropdown"> <i class="la la-ellipsis-h"></i>
												</a>
												<div class="dropdown-menu dropdown-menu-right">
													<a class="dropdown-item" href="#"><i class="la la-edit"></i>
														Edit Details</a> <a class="dropdown-item" href="#"><i
														class="la la-leaf"></i> Update Status</a> <a
														class="dropdown-item" href="#"><i class="la la-print"></i>
														Generate Report</a>
												</div>
											</div> <a href="#"
											class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
											title="View "> <i class="la la-edit"></i>
										</a>
									</span></td>
								</tr>
								<tr data-row="3" class="m-datatable__row" style="height: 88px;">
									<td data-field="RecordID"
										class="m-datatable__cell--center m-datatable__cell"><span
										style="width: 50px;">94</span></td>
									<td data-field="OrderID" class="m-datatable__cell"><span
										style="width: 110px;">58118-2013</span></td>
									<td data-field="ShipName" class="m-datatable__cell"><span
										style="width: 110px;">Kris LLC</span></td>
									<td data-field="Currency" class="m-datatable__cell"><span
										style="width: 100px;">PLN</span></td>
									<td data-field="ShipAddress"
										class="m-datatable__cell--sorted m-datatable__cell"><span
										style="width: 110px;">0 Park Meadow Hill</span></td>
									<td data-field="ShipDate" class="m-datatable__cell"><span
										style="width: 110px;">11/16/2016</span></td>
									<td data-field="Latitude" class="m-datatable__cell"><span
										style="width: 110px;">52.73754</span></td>
									<td data-field="Status" class="m-datatable__cell"><span
										style="width: 110px;"><span
											class="m-badge  m-badge--success m-badge--wide">Success</span></span></td>
									<td data-field="Type" class="m-datatable__cell"><span
										style="width: 110px;"><span
											class="m-badge m-badge--danger m-badge--dot"></span>&nbsp;<span
											class="m--font-bold m--font-danger">Online</span></span></td>
									<td data-field="Actions" class="m-datatable__cell"><span
										style="overflow: visible; width: 110px;">
											<div class="dropdown ">
												<a href="#"
													class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
													data-toggle="dropdown"> <i class="la la-ellipsis-h"></i>
												</a>
												<div class="dropdown-menu dropdown-menu-right">
													<a class="dropdown-item" href="#"><i class="la la-edit"></i>
														Edit Details</a> <a class="dropdown-item" href="#"><i
														class="la la-leaf"></i> Update Status</a> <a
														class="dropdown-item" href="#"><i class="la la-print"></i>
														Generate Report</a>
												</div>
											</div> <a href="#"
											class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
											title="View "> <i class="la la-edit"></i>
										</a>
									</span></td>
								</tr>
								<tr data-row="4" class="m-datatable__row m-datatable__row--even"
									style="height: 88px;">
									<td data-field="RecordID"
										class="m-datatable__cell--center m-datatable__cell"><span
										style="width: 50px;">46</span></td>
									<td data-field="OrderID" class="m-datatable__cell"><span
										style="width: 110px;">51630-003</span></td>
									<td data-field="ShipName" class="m-datatable__cell"><span
										style="width: 110px;">Harvey, Halvorson and Howe</span></td>
									<td data-field="Currency" class="m-datatable__cell"><span
										style="width: 100px;">CNY</span></td>
									<td data-field="ShipAddress"
										class="m-datatable__cell--sorted m-datatable__cell"><span
										style="width: 110px;">0 Pine View Avenue</span></td>
									<td data-field="ShipDate" class="m-datatable__cell"><span
										style="width: 110px;">5/23/2016</span></td>
									<td data-field="Latitude" class="m-datatable__cell"><span
										style="width: 110px;">25.38746</span></td>
									<td data-field="Status" class="m-datatable__cell"><span
										style="width: 110px;"><span
											class="m-badge  m-badge--metal m-badge--wide">Delivered</span></span></td>
									<td data-field="Type" class="m-datatable__cell"><span
										style="width: 110px;"><span
											class="m-badge m-badge--primary m-badge--dot"></span>&nbsp;<span
											class="m--font-bold m--font-primary">Retail</span></span></td>
									<td data-field="Actions" class="m-datatable__cell"><span
										style="overflow: visible; width: 110px;">
											<div class="dropdown ">
												<a href="#"
													class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
													data-toggle="dropdown"> <i class="la la-ellipsis-h"></i>
												</a>
												<div class="dropdown-menu dropdown-menu-right">
													<a class="dropdown-item" href="#"><i class="la la-edit"></i>
														Edit Details</a> <a class="dropdown-item" href="#"><i
														class="la la-leaf"></i> Update Status</a> <a
														class="dropdown-item" href="#"><i class="la la-print"></i>
														Generate Report</a>
												</div>
											</div> <a href="#"
											class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
											title="View "> <i class="la la-edit"></i>
										</a>
									</span></td>
								</tr>
								<tr data-row="5" class="m-datatable__row" style="height: 88px;">
									<td data-field="RecordID"
										class="m-datatable__cell--center m-datatable__cell"><span
										style="width: 50px;">85</span></td>
									<td data-field="OrderID" class="m-datatable__cell"><span
										style="width: 110px;">59011-410</span></td>
									<td data-field="ShipName" class="m-datatable__cell"><span
										style="width: 110px;">Leuschke Inc</span></td>
									<td data-field="Currency" class="m-datatable__cell"><span
										style="width: 100px;">CNY</span></td>
									<td data-field="ShipAddress"
										class="m-datatable__cell--sorted m-datatable__cell"><span
										style="width: 110px;">0 Scott Parkway</span></td>
									<td data-field="ShipDate" class="m-datatable__cell"><span
										style="width: 110px;">2/27/2016</span></td>
									<td data-field="Latitude" class="m-datatable__cell"><span
										style="width: 110px;">24.61694</span></td>
									<td data-field="Status" class="m-datatable__cell"><span
										style="width: 110px;"><span
											class="m-badge  m-badge--info m-badge--wide">Info</span></span></td>
									<td data-field="Type" class="m-datatable__cell"><span
										style="width: 110px;"><span
											class="m-badge m-badge--danger m-badge--dot"></span>&nbsp;<span
											class="m--font-bold m--font-danger">Online</span></span></td>
									<td data-field="Actions" class="m-datatable__cell"><span
										style="overflow: visible; width: 110px;">
											<div class="dropdown ">
												<a href="#"
													class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
													data-toggle="dropdown"> <i class="la la-ellipsis-h"></i>
												</a>
												<div class="dropdown-menu dropdown-menu-right">
													<a class="dropdown-item" href="#"><i class="la la-edit"></i>
														Edit Details</a> <a class="dropdown-item" href="#"><i
														class="la la-leaf"></i> Update Status</a> <a
														class="dropdown-item" href="#"><i class="la la-print"></i>
														Generate Report</a>
												</div>
											</div> <a href="#"
											class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
											title="View "> <i class="la la-edit"></i>
										</a>
									</span></td>
								</tr>
								<tr data-row="6" class="m-datatable__row m-datatable__row--even"
									style="height: 88px;">
									<td data-field="RecordID"
										class="m-datatable__cell--center m-datatable__cell"><span
										style="width: 50px;">58</span></td>
									<td data-field="OrderID" class="m-datatable__cell"><span
										style="width: 110px;">63739-547</span></td>
									<td data-field="ShipName" class="m-datatable__cell"><span
										style="width: 110px;">McLaughlin LLC</span></td>
									<td data-field="Currency" class="m-datatable__cell"><span
										style="width: 100px;">VND</span></td>
									<td data-field="ShipAddress"
										class="m-datatable__cell--sorted m-datatable__cell"><span
										style="width: 110px;">00 Barnett Place</span></td>
									<td data-field="ShipDate" class="m-datatable__cell"><span
										style="width: 110px;">4/3/2016</span></td>
									<td data-field="Latitude" class="m-datatable__cell"><span
										style="width: 110px;">10.95358</span></td>
									<td data-field="Status" class="m-datatable__cell"><span
										style="width: 110px;"><span
											class="m-badge  m-badge--primary m-badge--wide">Canceled</span></span></td>
									<td data-field="Type" class="m-datatable__cell"><span
										style="width: 110px;"><span
											class="m-badge m-badge--primary m-badge--dot"></span>&nbsp;<span
											class="m--font-bold m--font-primary">Retail</span></span></td>
									<td data-field="Actions" class="m-datatable__cell"><span
										style="overflow: visible; width: 110px;">
											<div class="dropdown dropup">
												<a href="#"
													class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
													data-toggle="dropdown"> <i class="la la-ellipsis-h"></i>
												</a>
												<div class="dropdown-menu dropdown-menu-right">
													<a class="dropdown-item" href="#"><i class="la la-edit"></i>
														Edit Details</a> <a class="dropdown-item" href="#"><i
														class="la la-leaf"></i> Update Status</a> <a
														class="dropdown-item" href="#"><i class="la la-print"></i>
														Generate Report</a>
												</div>
											</div> <a href="#"
											class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
											title="View "> <i class="la la-edit"></i>
										</a>
									</span></td>
								</tr>
								<tr data-row="7" class="m-datatable__row" style="height: 88px;">
									<td data-field="RecordID"
										class="m-datatable__cell--center m-datatable__cell"><span
										style="width: 50px;">16</span></td>
									<td data-field="OrderID" class="m-datatable__cell"><span
										style="width: 110px;">55670-109</span></td>
									<td data-field="ShipName" class="m-datatable__cell"><span
										style="width: 110px;">Buckridge, Klein and Williamson</span></td>
									<td data-field="Currency" class="m-datatable__cell"><span
										style="width: 100px;">RUB</span></td>
									<td data-field="ShipAddress"
										class="m-datatable__cell--sorted m-datatable__cell"><span
										style="width: 110px;">00 Fremont Point</span></td>
									<td data-field="ShipDate" class="m-datatable__cell"><span
										style="width: 110px;">5/23/2016</span></td>
									<td data-field="Latitude" class="m-datatable__cell"><span
										style="width: 110px;">54.85998</span></td>
									<td data-field="Status" class="m-datatable__cell"><span
										style="width: 110px;"><span
											class="m-badge  m-badge--danger m-badge--wide">Danger</span></span></td>
									<td data-field="Type" class="m-datatable__cell"><span
										style="width: 110px;"><span
											class="m-badge m-badge--danger m-badge--dot"></span>&nbsp;<span
											class="m--font-bold m--font-danger">Online</span></span></td>
									<td data-field="Actions" class="m-datatable__cell"><span
										style="overflow: visible; width: 110px;">
											<div class="dropdown dropup">
												<a href="#"
													class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
													data-toggle="dropdown"> <i class="la la-ellipsis-h"></i>
												</a>
												<div class="dropdown-menu dropdown-menu-right">
													<a class="dropdown-item" href="#"><i class="la la-edit"></i>
														Edit Details</a> <a class="dropdown-item" href="#"><i
														class="la la-leaf"></i> Update Status</a> <a
														class="dropdown-item" href="#"><i class="la la-print"></i>
														Generate Report</a>
												</div>
											</div> <a href="#"
											class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
											title="View "> <i class="la la-edit"></i>
										</a>
									</span></td>
								</tr>
								<tr data-row="8" class="m-datatable__row m-datatable__row--even"
									style="height: 88px;">
									<td data-field="RecordID"
										class="m-datatable__cell--center m-datatable__cell"><span
										style="width: 50px;">82</span></td>
									<td data-field="OrderID" class="m-datatable__cell"><span
										style="width: 110px;">67253-232</span></td>
									<td data-field="ShipName" class="m-datatable__cell"><span
										style="width: 110px;">Beier LLC</span></td>
									<td data-field="Currency" class="m-datatable__cell"><span
										style="width: 100px;">PHP</span></td>
									<td data-field="ShipAddress"
										class="m-datatable__cell--sorted m-datatable__cell"><span
										style="width: 110px;">01753 Wayridge Point</span></td>
									<td data-field="ShipDate" class="m-datatable__cell"><span
										style="width: 110px;">11/11/2016</span></td>
									<td data-field="Latitude" class="m-datatable__cell"><span
										style="width: 110px;">9.7534</span></td>
									<td data-field="Status" class="m-datatable__cell"><span
										style="width: 110px;"><span
											class="m-badge  m-badge--danger m-badge--wide">Danger</span></span></td>
									<td data-field="Type" class="m-datatable__cell"><span
										style="width: 110px;"><span
											class="m-badge m-badge--accent m-badge--dot"></span>&nbsp;<span
											class="m--font-bold m--font-accent">Direct</span></span></td>
									<td data-field="Actions" class="m-datatable__cell"><span
										style="overflow: visible; width: 110px;">
											<div class="dropdown dropup">
												<a href="#"
													class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
													data-toggle="dropdown"> <i class="la la-ellipsis-h"></i>
												</a>
												<div class="dropdown-menu dropdown-menu-right">
													<a class="dropdown-item" href="#"><i class="la la-edit"></i>
														Edit Details</a> <a class="dropdown-item" href="#"><i
														class="la la-leaf"></i> Update Status</a> <a
														class="dropdown-item" href="#"><i class="la la-print"></i>
														Generate Report</a>
												</div>
											</div> <a href="#"
											class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
											title="View "> <i class="la la-edit"></i>
										</a>
									</span></td>
								</tr>
								<tr data-row="9" class="m-datatable__row" style="height: 88px;">
									<td data-field="RecordID"
										class="m-datatable__cell--center m-datatable__cell"><span
										style="width: 50px;">14</span></td>
									<td data-field="OrderID" class="m-datatable__cell"><span
										style="width: 110px;">41163-369</span></td>
									<td data-field="ShipName" class="m-datatable__cell"><span
										style="width: 110px;">Abbott, Lockman and Roberts</span></td>
									<td data-field="Currency" class="m-datatable__cell"><span
										style="width: 100px;">CAD</span></td>
									<td data-field="ShipAddress"
										class="m-datatable__cell--sorted m-datatable__cell"><span
										style="width: 110px;">02 Florence Trail</span></td>
									<td data-field="ShipDate" class="m-datatable__cell"><span
										style="width: 110px;">9/17/2016</span></td>
									<td data-field="Latitude" class="m-datatable__cell"><span
										style="width: 110px;">51.85006</span></td>
									<td data-field="Status" class="m-datatable__cell"><span
										style="width: 110px;"><span
											class="m-badge  m-badge--metal m-badge--wide">Delivered</span></span></td>
									<td data-field="Type" class="m-datatable__cell"><span
										style="width: 110px;"><span
											class="m-badge m-badge--accent m-badge--dot"></span>&nbsp;<span
											class="m--font-bold m--font-accent">Direct</span></span></td>
									<td data-field="Actions" class="m-datatable__cell"><span
										style="overflow: visible; width: 110px;">
											<div class="dropdown dropup">
												<a href="#"
													class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
													data-toggle="dropdown"> <i class="la la-ellipsis-h"></i>
												</a>
												<div class="dropdown-menu dropdown-menu-right">
													<a class="dropdown-item" href="#"><i class="la la-edit"></i>
														Edit Details</a> <a class="dropdown-item" href="#"><i
														class="la la-leaf"></i> Update Status</a> <a
														class="dropdown-item" href="#"><i class="la la-print"></i>
														Generate Report</a>
												</div>
											</div> <a href="#"
											class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
											title="View "> <i class="la la-edit"></i>
										</a>
									</span></td>
								</tr>
							</tbody>
						</table>
						<div
							class="m-datatable__pager m-datatable--paging-loaded clearfix">
							<ul class="m-datatable__pager-nav">
								<li><a title="First"
									class="m-datatable__pager-link m-datatable__pager-link--first m-datatable__pager-link--disabled"
									data-page="1" disabled="disabled"><i
										class="la la-angle-double-left"></i></a></li>
								<li><a title="Previous"
									class="m-datatable__pager-link m-datatable__pager-link--prev m-datatable__pager-link--disabled"
									data-page="1" disabled="disabled"><i
										class="la la-angle-left"></i></a></li>
								<li style="display: none;"><a title="More pages"
									class="m-datatable__pager-link m-datatable__pager-link--more-prev"
									data-page="1"><i class="la la-ellipsis-h"></i></a></li>
								<li style="display: none;"><input type="text"
									class="m-pager-input form-control" title="Page number"/></li>
								<li><a
									class="m-datatable__pager-link m-datatable__pager-link-number m-datatable__pager-link--active"
									data-page="1" title="1">1</a></li>
								<li><a
									class="m-datatable__pager-link m-datatable__pager-link-number"
									data-page="2" title="2">2</a></li>
								<li><a
									class="m-datatable__pager-link m-datatable__pager-link-number"
									data-page="3" title="3">3</a></li>
								<li><a
									class="m-datatable__pager-link m-datatable__pager-link-number"
									data-page="4" title="4">4</a></li>
								<li><a
									class="m-datatable__pager-link m-datatable__pager-link-number"
									data-page="5" title="5">5</a></li>
								<li><a
									class="m-datatable__pager-link m-datatable__pager-link-number"
									data-page="6" title="6">6</a></li>
								<li><a title="More pages"
									class="m-datatable__pager-link m-datatable__pager-link--more-next"
									data-page="7"><i class="la la-ellipsis-h"></i></a></li>
								<li><a title="Next"
									class="m-datatable__pager-link m-datatable__pager-link--next"
									data-page="2"><i class="la la-angle-right"></i></a></li>
								<li><a title="Last"
									class="m-datatable__pager-link m-datatable__pager-link--last"
									data-page="10"><i class="la la-angle-double-right"></i></a></li>
							</ul>
							<div class="m-datatable__pager-info">
								<div class="btn-group bootstrap-select m-datatable__pager-size"
									style="width: 70px;">
									<button type="button" class="btn dropdown-toggle btn-default"
										data-toggle="dropdown" role="button" title="Select page size">
										<span class="filter-option pull-left">10</span>&nbsp;<span
											class="bs-caret"><span class="caret"></span></span>
									</button>
									<div class="dropdown-menu open" role="combobox">
										<ul class="dropdown-menu inner" role="listbox"
											aria-expanded="false">
											<li data-original-index="1" class="selected"><a
												tabindex="0" class="" data-tokens="null" role="option"
												aria-disabled="false" aria-selected="true"><span
													class="text">10</span><span
													class="glyphicon glyphicon-ok check-mark"></span></a></li>
											<li data-original-index="2"><a tabindex="0" class=""
												data-tokens="null" role="option" aria-disabled="false"
												aria-selected="false"><span class="text">20</span><span
													class="glyphicon glyphicon-ok check-mark"></span></a></li>
											<li data-original-index="3"><a tabindex="0" class=""
												data-tokens="null" role="option" aria-disabled="false"
												aria-selected="false"><span class="text">30</span><span
													class="glyphicon glyphicon-ok check-mark"></span></a></li>
											<li data-original-index="4"><a tabindex="0" class=""
												data-tokens="null" role="option" aria-disabled="false"
												aria-selected="false"><span class="text">50</span><span
													class="glyphicon glyphicon-ok check-mark"></span></a></li>
											<li data-original-index="5"><a tabindex="0" class=""
												data-tokens="null" role="option" aria-disabled="false"
												aria-selected="false"><span class="text">100</span><span
													class="glyphicon glyphicon-ok check-mark"></span></a></li>
										</ul>
									</div>
									<select class="selectpicker m-datatable__pager-size"
										title="Select page size" data-width="70px" data-selected="10"
										tabindex="-98"><option class="bs-title-option"
											value="">Select page size</option>
										<option value="10">10</option>
										<option value="20">20</option>
										<option value="30">30</option>
										<option value="50">50</option>
										<option value="100">100</option></select>
								</div>
								<span class="m-datatable__pager-detail">Displaying 1 - 10
									of 100 records</span>
							</div>
						</div>
					</div>
					<!--end: Datatable -->
				</div>
			</div>
		</div>
	</div>
	<!-- 主区域 ]] -->
</body>
</html>

